<%= form_for(@customer_support) do |f| %>
  <% if @customer_support.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_support.errors.count, "error") %> prohibited this customer_support from being saved:</h2>

      <ul>
      <% @customer_support.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
