<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @destination.name %>
</p>

<p>
  <b>State:</b>
  <%= @destination.state_id %>
</p>

<p>
  <b>Status:</b>
  <%= @destination.status %>
</p>


<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>
