<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Al-Mannan Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="dayat" content="">

    <!-- Le styles -->
    <%= stylesheet_link_tag "bootstrap" %>
    <!-- <%= stylesheet_link_tag "style1" %> -->
    <%= stylesheet_link_tag "hoverex/hoverex-all" %>
    <%= stylesheet_link_tag "hoverex/templates" %>
    <%= stylesheet_link_tag "bootstrap-responsive" %>
    <%= stylesheet_link_tag "jquery.stepy" %>
    <%= javascript_include_tag "hoverex/jquery-1.7.2.min" %>
    <%= javascript_include_tag "hoverex/jquery.hoverex" %>
    <%= javascript_include_tag "jquery.elevateZoom-2.5.5.min" %>
    <%= javascript_include_tag "account.min" %>

    <%= csrf_meta_tags %>

    <style type="text/css">
      
      #chats { position: fixed; bottom:0; left:0; right:0; }
      .chat { border: 1px solid #999; float: right; position: relative; margin: 0 5px; }
      .title { padding: 0.5em; background-color: blue; color: white; }
      .text 
    </style>

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/a.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Al-Mannan Shop', root_path, class: 'brand' %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <!-- <li><%= link_to 'Home', root_path %></li> -->
              <!-- <li><%= link_to 'Tentang Kami', '#' %></li>
              <li><%= link_to 'Kontak', '#' %></li> -->
            </ul>
          </div><!--/.nav-collapse -->
          <div class="nav-collapse collapse pull-right">
            <ul class="nav">
              <li><%= link_to how_order_path do %> <i class="icon-pencil icon-black"></i>&nbsp;Cara Order<% end %></li>
              <li><%= link_to sitemap_path do %> <i class="icon-globe icon-black"></i>&nbsp;Sitemap<% end %></li>
              <!-- <li><%= link_to '#' do %> <i class="icon-pencil icon-black"></i>&nbsp;Tentang Kami<% end %></li> -->
              <li><%= link_to new_contact_path do %> <i class="icon-envelope icon-black"></i>&nbsp;Hubungi Kami<% end %></li>
              <!-- <li><%= link_to 'Login', '#myModalLogin', role: 'button', 'data-toggle' => 'modal' %></li> -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div>
      <div class="container">
        <div class="row">
          <div class="headerdetails pull-right">
              <ul class="nav topcart pull-left-cart">
                <li class="dropdown">
                <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %><i class="icon-shopping-cart icon-black"></i>&nbsp;Belanjaku (<%= "#{@cart.line_items.map(&:quantity).inject(0, :+)}" %>) Items <b class="caret"></b><% end %>
                  <ul class="dropdown-menu topcartopen">
                    <% if @cart.line_items.length == 0 %>
                    <li>
                      Belanja anda kosong
                    </li>
                    <% else %>
                    <li>
                      <table>
                        <tbody>
                        <% for item in @cart.line_items %>
                          <tr>
                            <td class="image"><%= link_to detail_product_path(id: item.product) do %><%= image_tag 'download.png', width: "50px", height: "50", alt: "product", title: "product" %><% end %></td>
                            <td class="name"><%= link_to item.product.name_product, detail_product_path(id: item.product) %></td>
                            <td class="quantity">x&nbsp;<%= item.quantity %></td>
                            <td class="total"><%= number_to_currency item.total_price, unit: "IDR ", precision: 0, delimiter: '.' %></td>
                            <td class="remove"><%= link_to del_path(item.id), method: :delete, data: { confirm: 'Are you sure?' }, title: 'hapus' do %><i class="icon-remove"></i><% end %></td>
                          </tr>
                        <% end %>
                        <%= link_to 'Kosongi Belanjaku', empty_path, method: :delete, confirm: 'Anda yakin?', class: "btn btn-danger" %>
                        </tbody>
                      </table>
                      <table>
                        <tbody>
                          <tr>
                            <td class="textright"><b>Total:</b></td>
                            <td class="textright"><%= number_to_currency @cart.total_price, unit: "IDR ", precision: 0, delimiter: '.' %></td>
                          </tr>
                        </tbody>
                        </table>
                        <div class="well pull-right buttonwrap">
                          <%= link_to 'Lihat Belanjaku', carts_path , class: "btn btn-info" %>
                          <!-- <%= link_to 'Checkout', new_order_path, class: "btn btn-info" %> -->
                          <%= link_to 'Checkout', orders_path, class: "btn btn-info" %>
                        </div>
                    </li>
                    <% end %>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="full-body-yeah">
      <div class="container">
        <div class="masthead">
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <ul class="nav">
                  <li><%= link_to root_path do %><i class="icon-home icon-black"></i>&nbsp;Home<% end %></li>
                  <li class="dropdown">
                    <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %><i class="icon-th-large icon-black"></i>&nbsp;Produk<b class="caret"></b><% end %>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'Produk Terlaris', '#' %></li>
                      <li><%= link_to 'Produk Termahal', higher_path %></li>
                      <li><%= link_to 'Produk Termurah', cheaper_path %></li>
                      <li><%= link_to 'Produk Sering dilihat', hitrank_path %></li>
                    </ul>
                  </li>
                  <li><%= link_to kategori_path do %><i class="icon-list-alt icon-black"></i>&nbsp;Kategori<% end %>
                  <!-- <% if @cart.line_items.length > 0 %> -->
                  <!-- <li><%= link_to new_order_path do %><%= image_tag 'glyphicons/png/glyphicons_209_cart_in.png', size: '14x14' %>&nbsp;Checkout<% end %></li> -->
                  <!-- <li><%= link_to orders_path do %><%= image_tag 'glyphicons/png/glyphicons_209_cart_in.png', size: '14x14' %>&nbsp;Checkout<% end %></li>
                  <% end %> -->
                  <li><%= link_to carts_path do %><i class="icon-shopping-cart icon-black"></i>&nbsp;Keranjang Belanja<% end %></li>
                  <li class="dropdown">
                    <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %><i class="icon-user icon-black"></i>&nbsp;My Account<b class="caret"></b><% end %>
                    <ul class="dropdown-menu">
                      <% if current_user %>
                      <li><%= link_to "Dashboard", dashboards_path %></li>
                      <li><%= link_to "Sign out (#{current_user.email})", signout_path, :method => :delete %></li>
                      <% else %>
                      <li><%= link_to "Dashboard", dashboards_path %></li>
                      <li><%= link_to 'Daftar member', new_account_member_path %></li>
                      <li><%= link_to 'Login', '#myModalLogin', role: 'button', 'data-toggle' => 'modal' %></li>
                      <% end %>
                    </ul>
                  </li>
                </ul>
                <!-- <div class="nav-collapse collapse pull-right">
                  <div class="headerdetails">
                    <ul class="nav topcart pull-left-cart">
                      <li class="dropdown">
                      <%= link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %><i class="icon-shopping-cart icon-black"></i>&nbsp;Belanjaku (<%= "#{@cart.line_items.map(&:quantity).inject(0, :+)}" %>) Items <b class="caret"></b><% end %>
                        <ul class="dropdown-menu topcartopen">
                          <% if @cart.line_items.length == 0 %>
                          <li>
                            Belanja anda kosong
                          </li>
                          <% else %>
                          <li>
                            <table>
                              <tbody>
                                <% for item in @cart.line_items %>
                                <tr>
                                  <td class="image"><%= link_to detail_product_path(id: item.product) do %><%= image_tag 'download.png', width: "50px", height: "50", alt: "product", title: "product" %><% end %></td>
                                  <td class="name"><%= link_to item.product.name_product, detail_product_path(id: item.product) %></td>
                                  <td class="quantity">x&nbsp;<%= item.quantity %></td>
                                  <td class="total"><%= number_to_currency item.total_price, unit: "IDR ", precision: 0 %></td>
                                  <td class="remove"><%= link_to '#', method: :delete, data: { confirm: 'Are you sure?' }, title: 'hapus' do %><i class="icon-remove"></i><% end %></td>
                                </tr>
                                <% end %>
                                <%= link_to 'Kosongi Belanjaku', '#', method: :delete, confirm: 'Anda yakin?', class: "btn btn-danger" %>
                              </tbody>
                            </table>
                            <table>
                              <tbody>
                                <tr>
                                  <td class="textright"><b>Total:</b></td>
                                  <td class="textright"><%= number_to_currency @cart.total_price, unit: "IDR ", precision: 0 %></td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="well pull-right buttonwrap">
                              <%= link_to 'Lihat Belanjaku', '#' , class: "btn btn-info" %>
                              <a class="btn btn-info" href="#">Checkout</a>
                            </div>
                          </li>
                          <% end %>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div> -->
              </div>
            </div>
          </div><!-- /.navbar -->
        </div>

        <% if alert %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Warning!</strong> <%= alert %>
        </div>
        <% end %>

        <% if notice %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Selamat!</strong> <%= notice %>
          </div>
        <% end %>

        <%= yield %>

      </div> <!-- /container -->
    </div>

    <!---  Footer -->
    <div class="container">
         <div class="row">
            <div class="span4">
               <h3>Kontak Info</h3>
               <address>
                  <h4><strong>CV Al-Mannan, Inc.</strong></h4>
                  <i class="icon-home"></i> Jl. Menur 5 no 18, Surabaya<br>
                  <i><%= image_tag 'glyphicons/png/glyphicons_163_iphone.png', size: '10x10' %></i> 081-330-066-247 <br>
                  <i class="icon-envelope glyphw"></i> <%= mail_to "m.hidayatulloh1@gmail.com", nil, :replace_at => "[at]", :replace_dot => "[dot]", :class => "email" %><br>
               </address>               
            </div>

            <div class="span4">
              <h3>Customer Support</h3>
              <a href="ymsgr:sendIM?<%= CustomerSupport.find(1).username %>"> <img src="http://opi.yahoo.com/online?u=<%= CustomerSupport.find(1).username %>&amp;m=g&amp;t=14&amp;l=us"/></a>
            </div>

            <div class="span4">
               <h3>Tentang Kami</h3>
               <p>CV Al-Mannan adalah usaha dagang perseorangan yang bertempatkan di kota Surabaya</p>
               <p><img src="http://maps.googleapis.com/maps/api/staticmap?center=-7.29263,112.76315&zoom=13&size=400x150&maptype=roadmap&markers=color:red%7Clabel:L%7C-7.29263,112.76315&sensor=false"></p>
            </div>
         </div>
      </div>
      <div class="end-footer">
        <div class="container">
          <div class="row">
            <div class="span6">
              All images are copyright to their owners.
            </div>
            <!-- <div class="span12"> -->
            <div class="span6 textright">
              &copy; <%= Date.today.year %> CV Al-Mannan, Inc.
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>

      

    <!-- Modal Login -->
    <div id="myModalLogin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Login Member</h3>
        </div>
        <div class="modal-body">
          <%= form_for :session, :url => sessions_path, html: {class: "form-horizontal"} do |f| %>
            <div class="control-group">
              <label class="control-label" for="inputEmail">Email</label>
              <div class="controls">
                <%= f.text_field :email, placeholder: "Email" %>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputPassword">Password</label>
              <div class="controls">
                <%= f.password_field :password, placeholder: "Password" %>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <%= link_to 'Lupa password?', lupapassword_path %>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </div>
          <% end %>
        </div>    
    </div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery-1.8.3.min" %>
    <%= javascript_include_tag "bootstrap-transition" %>
    <%= javascript_include_tag "bootstrap-alert" %>
    <%= javascript_include_tag "bootstrap-modal" %>
    <%= javascript_include_tag "bootstrap-dropdown" %>
    <%= javascript_include_tag "bootstrap-scrollspy" %>
    <%= javascript_include_tag "bootstrap-tab" %>
    <%= javascript_include_tag "bootstrap-tooltip" %>
    <%= javascript_include_tag "bootstrap-popover" %>
    <%= javascript_include_tag "bootstrap-button" %>
    <%= javascript_include_tag "bootstrap-collapse" %>
    <%= javascript_include_tag "bootstrap-carousel" %>
    <%= javascript_include_tag "bootstrap-typeahead" %>
    <!-- validation -->
    <%= javascript_include_tag "jquery.validate.min" %>
    <!-- wizard -->
    <%= javascript_include_tag "jquery.stepy.min" %>
    <!-- wizard functions -->
    <%= javascript_include_tag "gebo_wizard" %>
    <!-- dashboard functions -->
    <!-- sortable/filterable list -->
    <%= javascript_include_tag "list_js/list.min" %>
    <%= javascript_include_tag "list_js/plugins/paging/list.paging" %>
    <!-- dashboard functions -->
    <script defer src="/assets/custom.js"></script>

  </body>
</html>
